.container{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr .2fr 1.5fr .2fr;
}

.container img{
    height: 300px;
    width: 200px;
    border-radius: 20px;
    margin: auto;
}

.about-text{
    grid-column-start: 3;
}