*{
    margin: 0;
    padding: 0;
}
.container{
    height: 30px;
    background-color: blueviolet;
}
.container a{
    text-decoration: none;
    color: white;
}
.container img{
    height: 15px;
    width: 15px;
    display: inline-block;
    margin: 2px 5px;
    position: relative;
}
.container .number {
    animation-duration: 40s;
    animation-name: slide-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    padding: 2px 0;
    color: white;
    position: absolute;
    margin: auto;
  }
  
  .container .number:hover {
    animation-play-state: paused;
  }
  
  @keyframes slide-in {
    0% {
        transform: translateX(0);
    }
    
    100%{
        transform: translateX(calc(100vw - 370px));

    }
  }
  