.slider-container, .slider-container img{
    height: 50vh;
    width: 60vw;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.carousel{
    margin-bottom: 6vh;
}