.carousel-inner{
    overflow: visible !important;
    height: 500px;
    width: 650px;
    border-radius: 20px;
}
.carousel-item{
    border-radius: 20px;
}
.carousel, .carousel img{
    border-radius: 20px;
    height: 500px;
    width: 650px;
    padding: 0;
    margin: 0;
    overflow: visible;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 690px){
    .carousel-inner,.carousel, .carousel img{
        height: 400px;
        width: 500px;
    }
}

@media (max-width: 540px){
    .carousel-inner,.carousel, .carousel img{
        height: 300px;
        width: 380px;
    }
}

@media (max-width: 420px){
    .carousel-inner,.carousel, .carousel img{
        height: 250px;
        width: 300px;
    }

}