p{
    color: black;
}

.diwali-container{
    width: 100%;
    height: 30rem;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background-image: url("./images/beautiful-diya-in-a-decorative-rangoli-background-for-diwali-indian-festival-sr02102401.jpg");
}
.diwali-container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50vw;
    background: inherit;
    background-attachment: fixed;
  filter: blur(5px);

}

.diwali-inside-container{
    margin: 0;
    color: white;
    position: relative;
    z-index: 1;
    height: 100%;
    width: 50vw;
    padding: 2rem;
    font-size: 1.5rem;
}

.diwali-heading{
    font-size: 3rem;
    width: 40%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid red; */
    font-family: "Protest Strike", sans-serif;
    color: white;
    text-shadow: 2px 2px 4px black;
}

.diwali-para{
    width: 40%;
    float: right;
    text-align: center;
    height: 100%;
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offer-btn{
    margin: 2rem 0.5rem;
}

@media (max-width: 1200px){
    .diwali-heading{
        font-size: 2rem;
    }
    .diwali-para{
        font-size: 1rem;
    }
}

@media (max-width: 900px){
    .diwali-heading{
        font-size: 1rem;
    }
    .diwali-para{
        font-size: 0.7rem;
    }
}

