.footer-container{
    padding: 10px 10%;
    font-size: 0.85rem;
    display: grid;
    grid-template-columns: 1.5fr 0.7fr 1fr 1.5fr;
    column-gap: 2rem;
}

.footer-container h5{
    margin: 2rem 0;
}
.footer-container li{
    list-style-type: none;
    margin-left: -2rem;
    margin-bottom: 1rem;

}
.icon-container{
    display: flex;
    flex-direction: row;
    margin: 15px 5px;
}
.about-us{
    padding: 30px;
}
.about-us p{
    margin: 20px 0;
}

.contact-us p{
    padding: 0;
    margin: 0;
}

.contact-us img{
    height: 30px;
    width: 30px;
    padding: 5px;
}
@media (max-width: 1040px){
    .footer-container{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .useful-links{
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
    }
    .tour-packages{
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
    }
    .contact-us{
        grid-row: 3 / span 1;
    }
}

@media (max-width: 655px){
    .footer-container{
        display: flex;
        flex-direction: column;
        padding: 30px;
    }
    .about-us{
        padding: 20px;
    }
}