.navbar-container{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px ;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.logo{
  height: 20px;
  width: 20px;
  border: 2px solid black;
}


.links-container{
  display: flex;
  column-gap: 30px;
  margin-right: 40px;
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-container {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-container p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-container p:hover {background-color: #ddd;}

.dropdown:hover .dropdown-container {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}