.package-section{
    margin: 20px 10%;
}

.bundle-container{
    text-align: center;
}
.bundle{
    text-align: center;
    display: inline-block;
    margin-bottom: 2rem;
    text-align: center;
}

.bundle h2{
    font-family: "Protest Strike", sans-serif;
}
.package-section h2{
    color: blueviolet;
    font-size: 3rem;
    display: inline-block;
}
.break-line{
    height: 1px;
    background: purple;
}


/* .package-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    column-gap: 40px;
    row-gap: 30px;
    padding: 12px;
} */

.package-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-gap: 40px;
}

@media (max-width: 1370px){
    .package-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 1000px){
    .package-container{
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
}

@media(max-width: 630px){
    .package-container{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 400px){
    .package-container{
        grid-row-gap: 20px;
        grid-column-gap: 5px;
        padding: 10px;
    }
}