.package-section{
    margin: 20px 5%;
}

.bundle-container{
    text-align: center;
}
.bundle{
    text-align: center;
    display: inline-block;
    margin-bottom: 2rem;
    text-align: center;
}
.package-section h2{
    color: blueviolet;
    font-size: 3rem;
    display: inline-block;
}
.break-line{
    height: 1px;
    background: purple;
}


.package-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    column-gap: 40px;
    row-gap: 30px;
    padding: 12px;
}
