.video-container{
    /* background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(122,85,162,1) 30%, rgba(0,212,255,1) 100%); */
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(100,85,162,1) 19%, rgba(99,72,188,1) 42%, rgba(44,96,225,1) 74%, rgba(15,124,245,1) 91%, rgba(21,0,255,1) 100%);
    position: relative;
    padding: 4vh 4vw;
}

.react-player{
    margin: auto;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}
.text-container{
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin: 5vh auto;
}
.text-container p{
    color: white;
}

.text-container span{
    font-size: 2rem;
    display: block;
}